.static-to-do-wrapper {
  font-family: Arial, sans-serif;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: #ffffff;
  border-radius: 8px;
}
.static-to-do-container {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}
.static-to-do-progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 30px;
}
.static-to-do-progress-bar div {
  height: 100%;
  background-color: #00bbf0;
  width: 0;
  border-radius: 20px;
  transition: width 0.3s;
}
.static-to-do-task-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.static-to-do-task-list li {
  padding: 15px 10px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
}
.static-to-do-task-list li:last-child {
  border-bottom: none;
}
.static-to-do-task-list li input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
  cursor: pointer;
}

.static-to-do-progress-bar {
  width: 100%;
  margin-bottom: 20px;
}

#progress-container {
  position: relative;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 40px;
}

#progress {
  height: 100%;
  background-color: #00bbf0;
  width: 0;
  border-radius: 25px;
  transition: width 0.3s;
}

#progress-percentage {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-weight: bold;
}

.task-container {
  display: flex;
  align-items: flex-start;
}

.task-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.task-content span {
  font-weight: bold;
}

.task-description {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.task-tags {
  margin-top: 8px;
}

.tag-box {
  display: inline-block;
  background-color: #e0f7fa; /* Light Cyan Background */
  color: #00796b; /* Darker Text */
  padding: 5px 10px;
  margin: 2px;
  border-radius: 15px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: capitalize;
}

.tag-box:nth-child(odd) {
  background-color: #e8f5e9; /* Light Green Background */
  color: #2e7d32; /* Dark Green Text */
}

.tag-box:nth-child(even) {
  background-color: #fce4ec; /* Light Pink Background */
  color: #c2185b; /* Dark Pink Text */
}

.task-content {
  margin-bottom: 15px;
}
